<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="{% url 'friend_feed:post_feed' %}">Головна</a>

    {% if user.is_authenticated %}
        <a href="{% url 'user_profile:profile' pk=user.id %}">Профіль</a>
        <a href="{% url 'user_profile:friends' pk=user.id %}">Друзі</a>
        <a href="">Спільноти</a>
        <a href="{% url 'core:logout' %}">Вийти</a>
    {% else %}
        <a href="{% url 'core:login' %}">Логін</a>
        <a href="{% url 'core:register' %}">Реєстрація</a>
    {% endif %}

    <main>
        {% block content %}

        {% endblock %}
    </main>
    
</body>
</html>